html {
    margin-left: calc(100vw - 100%);
}

.container {
    /* border: 1px dotted green; */
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
}

.container.invisible {
    opacity: 0;
}

.container.slideInFromLeft {
    position: relative;
    animation: slideInFromLeft 0.4s;
}

.container.slideInFromRight {
    position: relative;
    animation: slideInFromRight 0.4s;
}

.container.slideOutToRight {
    position: relative;
    animation: slideOutToRight 0.4s;
}

.container.slideOutToLeft {
    position: relative;
    animation: slideOutToLeft 0.4s;
}

.jumbo {
    /* border: 1px dotted green; */
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.jumbo-search {
    /* border: 1px dotted green; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.jumbo-search.slideUp {
    position: relative;
    animation: slideUp 0.4s;
}

.jumbo-header {
    /* border: 1px dotted green; */
    margin: 10px;
    margin-bottom: 20px;
}

.jumbo-body {
    margin: 10px;
    margin-top: 20px;
}

.title {
    margin: 0px;
    /* border: 1px dotted green; */
    font-weight: 100;
    font-size: 100px;
    color: rgb(48, 52, 132);
}

.search-title {
    margin: 10px;
    font-weight: 100;
    font-size: 70px;
    color: rgb(48, 52, 132);
}

a {
    font-size: 15px;
    opacity: 50%;
    text-decoration: none;
}

.desc {
    margin: 0px;
    font-size: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: lightgrey;
    font-weight: 50;
}

.bar {
    box-sizing: border-box;
    border: 3px solid rgb(48, 52, 132);
    height: 80px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
}

.search-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid rgb(48, 52, 132);
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    border-radius: 25px;
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
}

.inputContainer {
    float: left;
    /* width: 90%; */
}

.buttonContainer {
    float: right;
}